<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>URl Shortener</title>
  </head>
  <body style="font-family: 'Montserrat', sans-serif">
    <h1>URL Shortener</h1>
    <form action="" method="POST">
      <label for="fullUrl">URL</label>
      <input type="url" name="fullUrl" id="fullUrl" />
      <button type="submit">Shorten</button>
    </form>

    <table>
      <thead>
        <tr>
          <th>Full RUL</th>
          <th>Short RUL</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="https://www.youtube.com/watch?v=SLpUKAGnm-g"
              >https://www.youtube.com/watch?v=SLpUKAGnm-g</a
            >
          </td>
          <td>
            <a href="123">123</a>
          </td>
          <td>10</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
